.contact {

    position: relative;
    width: 100%;
    padding: 13.5rem 0 8.5rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    margin: 4rem 2rem;

   
  
  }
  
  .contact:before,  .contact:after {
  
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
  
  }

 .title{

        justify-content: center;
        align-items: center;
        text-align: center;
  }
  

  
  
  .contact-box {
  
    width: 100%;
    background-color: var(--light-one);
    width: 100%;
    border: 45px;
    padding: 5.5rem 4.5rem;
    display: flex;
    flex-direction: column;
  
  }
  

  
  .contact-form {
    margin:1.5rem 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  
  }
  

  .contact-form .row {
  
    width: 100%;
   
    
  
  }
  
  
  .contact-input {
  
    padding: 1.2rem 2.1rem;
    margin: 0.2rem 0.2rem;
    border: none;
    outline: none;
    background: #f3f3f3;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 1.25rem;
    width: 250px;
  
  }
  
  
  .contact-input::placeholder{
  
    font-weight: 400;
  
  }
  
  .contact-input.textarea{
  
    resize: none;
    min-height: 150px; 
    border-radius: 2rem;
  
  }
  
  
  .contact-input:hover {
  
      background: #ececec;
  
  
  }
  
  
  .contact-input:focus{
     
    background: #eaeaea;
  
  }
  
  .contact-input .btn{
     
    margin-top: 0.6rem;
    margin-right: 1rem;
    align-items: center;
  
  }
  